apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: arr-stack
  namespace: arr-stack
spec:
  chart:
    spec:
      chart: app-template
      version: "4.6.2"
  values:
    controllers:
      radarr:
        containers:
          radarr:
            image:
              repository: lscr.io/linuxserver/radarr
              tag: "6.0.4.10291-ls287"
            env:
              PUID: "1000"
              PGID: "1000"
              TZ: "${TIMEZONE}"
      sonarr:
        containers:
          sonarr:
            image:
              repository: lscr.io/linuxserver/sonarr
              tag: "4.0.16.2944-ls297"
            env:
              PUID: "1000"
              PGID: "1000"
              TZ: "${TIMEZONE}"
      lidarr:
        containers:
          lidarr:
            image:
              repository: lscr.io/linuxserver/lidarr
              tag: "3.1.0.4875-ls11"
            env:
              PUID: "1000"
              PGID: "1000"
              TZ: "${TIMEZONE}"
      bazarr:
        containers:
          bazarr:
            image:
              repository: lscr.io/linuxserver/bazarr
              tag: "v1.5.3-ls324"
            env:
              PUID: "1000"
              PGID: "1000"
              TZ: "${TIMEZONE}"
      prowlarr:
        containers:
          prowlarr:
            image:
              repository: lscr.io/linuxserver/prowlarr
              tag: "2.3.0.5236-ls132"
            env:
              PUID: "1000"
              PGID: "1000"
              TZ: "${TIMEZONE}"
      rdt-client:
        containers:
          rdt-client:
            image:
              repository: ghcr.io/rogerfar/rdtclient
              tag: "2.0.120"
            env:
              PUID: "1000"
              PGID: "1000"
              TZ: "${TIMEZONE}"
      aria2-pro:
          containers:
            aria2-pro:
              image:
                repository: ghcr.io/p3terx/aria2-pro
                tag: "202209060423"
              env:
                PUID: "1000"
                PGID: "1000"
                TZ: "${TIMEZONE}"
                RPC_SECRET: "${ARIA2_RPC_SECRET}"
                UPDATE_TRACKERS: "false"
    service:
      radarr:
        controller: radarr
        type: ClusterIP
        ports:
          http:
            port: 7878
      sonarr:
        controller: sonarr
        type: ClusterIP
        ports:
          http:
            port: 8989
      lidarr:
        controller: lidarr
        type: ClusterIP
        ports:
          http:
            port: 8686
      bazarr:
        controller: bazarr
        type: ClusterIP
        ports:
          http:
            port: 6767
      prowlarr:
        controller: prowlarr
        type: ClusterIP
        ports:
          http:
            port: 9696
      rdt-client:
        controller: rdt-client
        type: ClusterIP
        ports:
          http:
            port: 6500
      aria2-pro:
        controller: aria2-pro
        type: ClusterIP
        ports:
          http:
            port: 6800

    persistence:
      radarr-config:
        enabled: true
        storageClass: longhorn
        size: 1Gi
        accessMode: ReadWriteOnce
        advancedMounts:
          radarr:
            radarr:
              - path: /config
      sonarr-config:
        enabled: true
        storageClass: longhorn
        size: 1Gi
        accessMode: ReadWriteOnce
        advancedMounts:
          sonarr:
            sonarr:
              - path: /config
      lidarr-config:
        enabled: true
        storageClass: longhorn
        size: 1Gi
        accessMode: ReadWriteOnce
        advancedMounts:
          lidarr:
            lidarr:
              - path: /config
      bazarr-config:
        enabled: true
        storageClass: longhorn
        size: 1Gi
        accessMode: ReadWriteOnce
        advancedMounts:
          bazarr:
            bazarr:
              - path: /config
      prowlarr-config:
        enabled: true
        storageClass: longhorn
        size: 1Gi
        accessMode: ReadWriteOnce
        advancedMounts:
          prowlarr:
            prowlarr:
              - path: /config
      rdt-client-config:
        enabled: true
        storageClass: longhorn
        size: 1Gi
        accessMode: ReadWriteOnce
        advancedMounts:
          rdt-client:
            rdt-client:
              - path: /data/db
      media:
        enabled: true
        type: nfs
        server: "${NFS_SERVER}"
        path: /media/arr-media

    route:
      radarr:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: c0depool-gateway
            namespace: gateways
            sectionName: https
        hostnames:
          - radarr.internal.${PUBLIC_DOMAIN}
        rules:
          - backendRefs:
            - name: radarr
              port: 7878
            matches:
            - path:
                type: PathPrefix
                value: /
      sonarr:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: c0depool-gateway
            namespace: gateways
            sectionName: https
        hostnames:
          - sonarr.internal.${PUBLIC_DOMAIN}
        rules:
          - backendRefs:
            - name: sonarr
              port: 8989
            matches:
            - path:
                type: PathPrefix
                value: /
      lidarr:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: c0depool-gateway
            namespace: gateways
            sectionName: https
        hostnames:
          - lidarr.internal.${PUBLIC_DOMAIN}
        rules:
          - backendRefs:
            - name: lidarr
              port: 8686
            matches:
            - path:
                type: PathPrefix
                value: /
      bazarr:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: c0depool-gateway
            namespace: gateways
            sectionName: https
        hostnames:
          - bazarr.internal.${PUBLIC_DOMAIN}
        rules:
          - backendRefs:
            - name: bazarr
              port: 6767
            matches:
            - path:
                type: PathPrefix
                value: /
      prowlarr:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: c0depool-gateway
            namespace: gateways
            sectionName: https
        hostnames:
          - prowlarr.internal.${PUBLIC_DOMAIN}
        rules:
          - backendRefs:
            - name: prowlarr
              port: 9696
            matches:
            - path:
                type: PathPrefix
                value: /
      rdt-client:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: c0depool-gateway
            namespace: gateways
            sectionName: https
        hostnames:
          - rdt.internal.${PUBLIC_DOMAIN}
        rules:
          - backendRefs:
            - name: rdt-client
              port: 6500
            matches:
            - path:
                type: PathPrefix
                value: /
      aria2-pro:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: c0depool-gateway
            namespace: gateways
            sectionName: https
        hostnames:
          - aria.internal.${PUBLIC_DOMAIN}
        rules:
          - backendRefs:
            - name: aria2-pro
              port: 6800
            matches:
            - path:
                type: PathPrefix
                value: /