apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: c0depool-blog
  namespace: c0depool-blog
spec:
  chart:
    spec:
      chart: app-template
      version: "4.6.2"
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/c0depool/c0depool-blog
              tag: v2.2.4
    service:
      main:
        controller: main
        type: ClusterIP
        ports:
          http:
            port: 9000
    route:
      main:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: c0depool-gateway
            namespace: gateways
            sectionName: blog
        hostnames:
          - ${PUBLIC_BLOG_DOMAIN}
        rules:
          - backendRefs:
            - name: c0depool-blog
              port: 9000
            matches:
            - path:
                type: PathPrefix
                value: /