apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vaultwarden
  namespace: vaultwarden
spec:
  chart:
    spec:
      chart: app-template    
      version: "4.6.2"
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: vaultwarden/server
              tag: 1.35.4
            env:
              DATA_FOLDER: "config"
              ADMIN_TOKEN: "${VAULTWARDEN_ADMIN_TOKEN}"  
    service:
      main:
        controller: main
        type: ClusterIP
        ports:
          http:
            port: 80   
    persistence:
      config:
        enabled: true
        storageClass: longhorn
        accessMode: ReadWriteOnce
        size: 1Gi
    route:
      main:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - name: c0depool-gateway
            namespace: gateways
            sectionName: https
        hostnames:
          - vault.${PUBLIC_DOMAIN}
        rules:
          - backendRefs:
            - name: vaultwarden
              port: 80
            matches:
            - path:
                type: PathPrefix
                value: /
          - matches:
            - path:
                type: PathPrefix
                value: /admin
            filters:
              - type: RequestRedirect
                requestRedirect:
                  statusCode: 301
                  path:
                    type: ReplaceFullPath
                    replaceFullPath: /